
<div class="container-fluid bg-dark">
    <div class="row justify-content-center  text-center">
        <div class="col-sm-3 hey">
            <h4 class=" del mb-4"><small>DOOGEE</small></h4>
            <p>Teardowns</p>
            <p>News</p>
            <p>Partners</p>
            <p>About us</p>
            <p>Contact us</p>
            <p>Terms of use</p>
        </div>
        <div class="col-sm-3 hey">
            <h4 class=" mb-4 "><small>SERVICES</small></h4>
            <p>Compare</p>
            <p>Download</p>
            <p>Feedback</p>
            <p>Bug report</p>
        </div>
        <div class="col-sm-3 hey">
            <h4 class=" mb-4"><small>ACTIVITY</small></h4>
            <p>Influencer</p>
            <p>Affliate</p>
            <p>Co-branding</p>
            <p>Honor</p>
            <p>Giveaway</p>
        </div>
    </div>
</div>
<hr class="hr">
<div class="container-fluid bg-dark">
    <h4 class="text-center text-light m-0 p-4"><small>&copy; binay6014@gmail.com</small></h4>
</div>