{% load static %}
<nav class="navbar navbar-expand-sm  bg-dark sticky-top">
    <div class="container-fluid">
        <img src="{% static 'images/w3newbie.png' %}" class="navbar-brand img-fluid" style="height:2em;" >
        <button type="button" class="navbar-toggler navbar-dark" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon "></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarResponsive">
            <ul class="navbar-nav ml-auto list">
                <li class="nav-item ">
                    <a class="nav-link " href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Contacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">FAQ</a>
                </li>
            </ul>
        </div>
    </div>
    
</nav>